#inside-banner {
    font-size: 36px;
    margin: auto;
    width: 100%;
    padding: 10px;
    margin-top: 51%;
    color:rgb(122, 83, 0);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 1, 34);
}

#buttons-heading {
    margin:auto;
    margin-left:25%;
    margin-top:3%;
    margin-bottom:-8%;
    font-size: 25px;
    width: 100%;
    padding: 20px;
    color:rgb(122, 83, 0);
}

#heading-container {
    margin:auto;
    margin-top: -15%;
    height: 700px;
    width:100%;
    border:10px solid rgb(195, 171, 106);
    background-image: url('https://static.wikia.nocookie.net/logopedia/images/5/53/763px-BotW_NA_Logo.png/revision/latest?cb=20160701154320'), url('https://static.wikia.nocookie.net/zelda/images/3/3a/Hyrulecastlemalice.png/revision/latest?cb=20170424233439');
    background-repeat: no-repeat;
    background-position: center;
}

#bg-image {
    padding: 20em;
    background-image: url('https://i.pinimg.com/564x/82/f5/c0/82f5c046439ff6b4517bc572f391f7a3.jpg');
    background-size: 50%;
    object-fit:fill;
}

#image-container {
    background-image:url('https://www.teahub.io/photos/full/202-2020465_metallic-gold-seamless-texture.jpg');
    background-size: 100%;
    outline: 10px solid rgb(195, 171, 106);
    margin:auto;
    margin-top: 2%;
    width:101%;
}

.image {
    padding: 10px;
}

#buttons {
    margin-left: 20px;
    margin-top: 3%;
    margin-bottom: 5%;
    word-spacing:45px;
    padding:5%;
    outline: 10px solid rgb(195, 171, 106);
    background-image: url('https://www.teahub.io/photos/full/202-2020465_metallic-gold-seamless-texture.jpg');
    background-size: 100%;
}

#creatures {
    background-color: rgb(25, 41, 122);
    color: rgb(255, 255, 255);
    border-color: rgb(195, 171, 106);
    border-width: 5px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 8px 12px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    font-family:Blippo, fantasy;
}

#equipment {
    background-color: rgb(25, 41, 122);
    color: rgb(255, 255, 255);
    border-color: rgb(195, 171, 106);
    border-width: 5px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 8px 12px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    font-family:Blippo, fantasy;
}

#materials {
    background-color: rgb(25, 41, 122);
    color: rgb(255, 255, 255);
    border-color: rgb(195, 171, 106);
    border-width: 5px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 8px 12px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    font-family:Blippo, fantasy;
}

#monsters {
    background-color: rgb(25, 41, 122);
    color: rgb(255, 255, 255);
    border-color: rgb(195, 171, 106);
    border-width: 5px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 8px 12px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    font-family:Blippo, fantasy;
}

#treasure {
    background-color: rgb(25, 41, 122);
    color: rgb(255, 255, 255);
    border-color: rgb(195, 171, 106);
    border-width: 5px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 8px 12px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    font-family:Blippo, fantasy;
}

#image-description {
    font-size: 18px;
    color:rgb(78, 55, 5);
    width:20%
}

#info-table {

}