h1 {
    display: flex;
    justify-content: center;
}

#card-container {
   border-color: black;
   border-width: 10px;
}

.bg-image {
    padding: 20em;
    background-image: url('https://i.pinimg.com/564x/82/f5/c0/82f5c046439ff6b4517bc572f391f7a3.jpg');
    background-position: top left;
    background-size: 50%;

}

.image {
    border-image: 50px;
}

#buttons {
    word-spacing: 20px 20%;
    flex: 20px;
}

#hello {
    background-color: rgb(56, 112, 161);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 8px 12px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    font-family:Blippo, fantasy;
}

#goodbye {
    background-color: rgb(56, 112, 161);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 8px 12px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    font-family:Blippo, fantasy;
}

#wait {
    background-color: rgb(56, 112, 161);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 8px 12px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    font-family:Blippo, fantasy;
}

#come-back {
    background-color: rgb(56, 112, 161);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 8px 12px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    font-family:Blippo, fantasy;
}